@import url( "baseCommonStyles.css" );
@import url( "themes/themeStyles.css" );

* { 
    font-size: 16pt;
    margin-left: 1%;
    margin-right: 1%;
}

.DivHeaderClass {
    position: relative;
    display: flex;
    height: fit-content;
    width: 100vw;
    margin-top: -1.71vh;
    margin-left: -3%;
    margin-right: -3%;
    padding-left: 0%;
    padding-right: 0%;
}

.HeaderIFrameClass {
    width: 100%;
    height: 18rem;
    border: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0%;
}

.DivFooterClass {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 99.08vw;
    margin-left: -2%;
    margin-right: -50%;
    padding-bottom: -20vh;
}

.FooterIFrameClass {
    position: bottom;
    width: 100%;
    height: 19.3rem;
    border: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -10vh;
}

h1 {
    font-size: 36pt;
    padding-top: 1%;
}

h2 {
    font-size: 24pt;
    margin-left: 0%;
    padding-top: 9vh;
    padding-bottom: 5.7vh;
}

h3 {
    font-size: 20pt;
    margin-left: 0%;
}

h4 {
    font-size: 16pt;
}

p {
    text-align: justify;
    line-height: 2.0;
}

#siteCaptionId {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 1vh;
}

.PageDescriptionClass, .MissionClass, .ThanksForVisitingClass {
    p, strong, em {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        font-size: 18pt;
        text-align: center;
    }
}

#Productos table, #NuestrosServicios table {
    
    margin-top: -7vh;
}

.ThanksForVisitingClass p {
    padding-bottom: 7vh;
}

#ClarksId {
    text-align: center;
    padding-bottom: 7vh;
}

#audioMagoDeOzSongId {
    padding-top: 10vh;
    text-align: center;
    width: 50%;
}

#FundadorImgId {
    -webkit-mask-image: -webkit-linear-gradient( black 98%, transparent );
    mask-image: linear-gradient( black 98%, transparent );
}

#NuestroEquipo table {
    width: 100%;
        
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        -webkit-mask-image: -webkit-linear-gradient( black 80%, transparent );
        mask-image: linear-gradient( black 80%, transparent );
    }

    td { 
        padding-inline: 1.7%;
        vertical-align: top;
    }
}

#doctorsTableRowId td strong {
    border-top: 2px solid var( --kv-primary-accent-color-darksoft );
    padding-top: 1vh;
}

#idMomentosEnNuestraLaborP {
    text-align: center;
}

#MomentosEnNuestraLabor img {
    border-radius: 4.5%;
}

#MomentosEnNuestraLabor, #NuestroEquipo {
    table {
        margin-left: auto;
        margin-right: auto;
        padding-top: 5vh;

        img {
            transition: box-shadow .1s ease, scale .1s ease-out;

            &:hover {
                box-shadow: 8px 8px 12px rgba( 0, 0, 0, .5 );
                scale: 1.2;
                transition: box-shadow .3s ease, scale .3s ease;
            }
        }
    }
}

#youtubeVideoId {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#Farmacia span {
    font-weight: bold; 
    text-transform: capitalize;
}

img[width="700"] { /* Selecciona la Imagen de la Farmacia que es la que coincide con el valor del atributo de ancho especificado */
    width: 750px;
    height: 1000px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid var( --kv-primary-accent-color-darkmid );
}

iframe, video {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: var( --kv-primary-accent-color-light );
    border: 2px solid var( --kv-secondary-accent-color-darkmid );
    box-shadow: 0px 0px 12px #EE812250, inset 0px 0px 30px .5px var( --kv-secondary-accent-color-darkest ), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24), inset 0 0 20px var( --kv-secondary-accent-color-darkest );
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
    /*box-shadow: inset 0 0 10px var( --kv-secondary-accent-color-darkest ), inset 0 0 20px var( --kv-secondary-accent-color-darkest ), inset 0 0 30px var( --kv-secondary-accent-color-darkest );*/
    width: 35%;
    height: 55px;
    padding: 10px 20px;
    margin-top: 4vh;
    margin-bottom: 2vh;
    border-radius: 4px; /* Rounded corners para un lindo look y estilo moderno */
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .2s ease;

    a {
        color: var( --kv-foreground-light-strong-color-bg );
        text-decoration: none;
    }

    &:hover {
        background-color: var( --kv-primary-accent-color-lesslight ); /* Lighter on hover */
        transition: background-color .3s ease;
    }

    &:active { 
        background-color: var( --kv-primary-accent-color-lightless ); /* Darker on press */
        transition: background-color .1s ease;
    }
}

.ContentClass {
    display: flex;
    flex-direction: row;
}

.ContactenosClass {
    width: 100%;
}

.ResultadoClass {
    margin-inline: auto;
    width: 80%;
    margin-top: 2.8vh;
}

.SuccessfulConfirmationTitle {
    color: var( --kv-success-color )
}

.UnsuccessfulConfirmationTitle {
    color: var( --kv-error-color )
}

form {
    input[type="text"], input[type="email"], input[type="tel"]  {
        width: 98%;
        padding: 8px;
        margin-top: 1vh;
        margin-bottom: 3vh;
        padding-inline: 1vw;
        border: 1px solid orange;
        border-radius: 4px; /* Rounded corners for a modern look, queda bonito */
        box-sizing: border-box;
    }
    
    #lblPhoneId {
        padding-right: 36%;
    }

    #txtPhoneId {
        width: 48%;
        margin-right: 0%;
    }

    #txtEmailId {
        width: 48%;
    }

    #lblAcceptanceId {
        cursor: pointer;
    }

    input[type="checkbox"] {
        cursor: pointer;
        transform: scale( 2 );
        accent-color: var( --kryptonvet-foreground-dark-color );
        border-color: orange;
    }

    select {
        width: 98%;
        padding: 8px;
        margin-top: 1vh;
        margin-bottom: 11vh;
        padding-inline: 1vw;
        border: 1px solid orange;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
    }

    input[type="submit"] {
        background-color: var( --kv-primary-accent-color-darkmid );
        color: white;
        border: none;
        width: 98%;
        padding: 10px 30px;
        margin-top: 4vh;
        margin-bottom: 10vh;
        border: 3px solid var( --kv-primary-accent-color-darksoft );
        border-radius: 5px; /* Rounded corners para un lindo look y estilo moderno */
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color .2s ease;

        &:hover {
            background-color: var( --kryptonvet-button-hover-color ); /* Lighter on hover */
            transition: background-color .3s ease;
        }

        &:active { 
            background-color: var( --kryptonvet-button-pressed-color ); /* Darker on press */
            transition: background-color .1s ease;
        }
    }
}

